{% extends "base.html" %}
{% block content %}
<!doctype html>
<html>
    <head>
        <title>Sobre Nosotros</title>
    </head>
    <h1>¡Bienvenido a Moodsica!</h1>
    <body>
        <h2>Moodsica es una aplicación que te permitirá filtrar canciones según el mood que tú quieras. 
            Si te sientes feliz 😁,  enojado 😡, enamorado 😍, relax😎, etc. 
            y quieres escuchar canciones que vayan de la mano de tu mood del momento. 
            ¡Este es el lugar perfecto para tí! 
        </h2>
        
    </body>
</html>
{% endblock %}