{% extends "base.html" %}
{% block content %}
<!doctype html>
<html>
    <head>
        <title>¡Bienvenido a Moodsica!</title>
    </head>
    <body>
        <h1><i>Moodsica es una aplicación que te permitirá filtrar canciones según el mood que tú quieras. 
            Si te sientes feliz 😁,  enojado 😡, enamorado 😍, relax😎, etc. 
            y quieres escuchar canciones que vayan de la mano de tu mood del momento. 
            ¡Este es el lugar perfecto para tí! </i>
        </h1>
        
    </body>
</html>
{% endblock %}