<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div>
            Moodsica app:
            <br />
            <a href="/indice/acerca">ACERCA DE</a>
            <br />
            <a href="/ingreso/registrate">REGISTRATE</a>
            <br />
            <a href="/ingreso">INGRESA</a>
        </div>
    </body>
    
    
</html>
