{% extends "base.html" %}
{% block content %}
<h1>Registrate</h1>
<form method="post">
    <label for="usuario">Usuario</label>
    <input name="usuario" id="usuario" required><br>
    
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required><br>
    
    <label for="contrasenna">Contraseña</label>
    <input type="password" name="contrasenna" id="contrasenna" required><br>
    <label for="contrasenna">Confirmar contraseña</label>
    <input type="password" name="contrasenna" id="contrasenna" required><br>
    
    <input type="submit" value="Registrar">
</form>
{% endblock %}